[submodule "\\workspace\\msword_auto\\automation"]
	path = \\workspace\\msword_auto\\automation
	url = D:\\workspace\\msword_auto\\automation
[submodule "\\workspace\\msword_auto\\dao"]
	path = \\workspace\\msword_auto\\dao
	url = D:\\workspace\\msword_auto\\dao
[submodule "\\workspace\\msword_auto\\entity"]
	path = \\workspace\\msword_auto\\entity
	url = D:\\workspace\\msword_auto\\entity
[submodule "\\workspace\\msword_auto\\webapp"]
	path = \\workspace\\msword_auto\\webapp
	url = D:\\workspace\\msword_auto\\webapp
